div {
    position: relative;
    width: 500px;
    background: gray;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 29%;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18), 0 1px 4px rgba(0, 0, 0, 0.36);
}

img {
    position: relative;
    height: 100px;
    left: 18%;
    top: 0px;
  }

.temperature{
    position: relative;
    top: -40px;
    right: -90px;
    font-weight: 700;
    font-size: 30px;
}

.city{
    color: #001a66;
    position: relative;
    top: -50px;
    font-size: 30px;
    font-weight: 700;
}

.state{
    position: relative;
    left: -143px;
    top: -30px;
}